@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    The current time is: @DateTime.Now
</div>

<div>
    <h1 class="display-4">Welcome to WeatherProject:</h1>
    <h2 class="display-4">Page reference for WeatherProject information:</h2><a href="/WeatherChart">WeatherProject</a>


</div>