@page
@model weathertrack.Pages.WelcomeModel
@{
	ViewData["Title"] = "WelcomeModel";
}
<div>
	<h1>WelcomeModel</h1>
	Session DataId : @Model.SessionId
	<p>
		Your Name is: @Model.name
	</p>
	<p>
		Your Age is: @Model.age
	</p>
</div>